@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar scrollbar para Chrome, Safari y Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar para IE, Edge y Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
/* En tu archivo CSS */
.text-stroke-green {
  -webkit-text-stroke: 4px rgb(74, 222, 128); /* green-400 */
  color: transparent;
}

/* Para móviles, stroke más delgado */
@media (max-width: 768px) {
  .text-stroke-green {
    -webkit-text-stroke: 3px rgb(74, 222, 128);
  }
}
